---
import '../styles/global.css';
---
<html>
  <head><title>Tailwind 動作確認</title></head>
  <body>
    <h1 class="text-3xl font-bold underline text-blue-600">
      Tailwind works
    </h1>
  </body>
</html>
